* {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

hr {
    display: none;
}

// Mixins

@mixin bottle($width:64%, $cl1:0, $cl2:0) {
    width: $width;
    margin: $cl1 auto $cl2;

    @media screen and(max-width: 1024px) {
        width: 90%;
    }

    @media screen and(max-width: 800px) {
        width: 95%;
    }
    
    @media screen and(max-width: 400px) {
        width: 100%;
    }
}


.header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
    background-color: #333;
    color: #FFF;

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__bottle {
        @include bottle()
    }

    &__relevant1 {
        font-size: 1rem;
    }
}

.content {
    height: 500px;
    background-color: #DDD;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media screen and(max-width: 400px) {
        flex-wrap: wrap;
    }

    &__sidebar {
        background-color: #666;
        color: #FFF;
        width: 30%;
        height: 100%;
        flex-grow: 1;

        @media screen and(max-width: 400px) {
            width: 100%;
            height: 50%;
        }
    }

    &__main {
        background-color: #AAA;
        width: 70%;
        height: 100%;
        flex-grow: 1;

        @media screen and(max-width: 400px) {
            width: 100%;
            height: 50%;
            order: -1;
        }
    }
}

.footer {
    height: 200px;
    padding: 20px;
    background-color: #000;
    color: #FFF;
}